@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'variables';

body {
    overflow-x: hidden;
    font-family: emoji;
    margin: 0;
}
* {
    box-sizing: border-box;
}
img {
	max-width: 100%;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.container {
    max-width: 100%;
    margin: auto;

    @each $breakpoint, $max-width in $container-max-widths {
        @media screen and (min-width: $breakpoint) {
            max-width: $max-width;
        }
    }
    @media screen and (max-width: 575.98px) {
        padding: 0 11px;
    }
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.items-center {
    align-items: center;
}
.items-start {
    align-items: flex-start;
}
.items-end {
    align-items: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-end {
    justify-content: flex-end;
}
.d-block {
    display: block !important;
}
.inline-block {
    display: inline-block !important;
}
.d-none {
    display: none !important;
}
.text-center {
    text-align: center;
}
.text-end {
    text-align: end;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.w-full {
    width: 100%;
}

@for $i from 0 through 100 {
    .m-#{$i} {
        margin: #{$i}px !important;
    }
    .mr-#{$i} {
        margin-right: #{$i}px !important;
    }
    .ml-#{$i} {
        margin-left: #{$i}px !important;
    }
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }
    .mx-#{$i} {
        margin-left: #{$i}px !important;
        margin-right: #{$i}px !important;
    }
    .my-#{$i} {
        margin-top: #{$i}px !important;
        margin-bottom: #{$i}px !important;
    }
    .p-#{$i} {
        padding: #{$i}px !important;
    }
    .pr-#{$i} {
        padding-right: #{$i}px !important;
    }
    .pl-#{$i} {
        padding-left: #{$i}px !important;
    }
    .pt-#{$i} {
        padding-top: #{$i}px !important;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}px !important;
    }
    .px-#{$i} {
        padding-left: #{$i}px !important;
        padding-right: #{$i}px !important;
    }
    .py-#{$i} {
        padding-top: #{$i}px !important;
        padding-bottom: #{$i}px !important;
    }
    .gap-#{$i} {
        gap: #{$i}px !important;
    }
}

.ml-auto {
    margin-left: auto !important;
}
.mr-auto {
    margin-right: auto !important;
}
.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.mt-auto {
    margin-top: auto !important;
}
.mb-auto {
    margin-bottom: auto !important;
}
.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
